[submodule "tr"]
	path = src/tr
	url = git@gitlab.com:ung.org/bin/tr.git
[submodule "tee"]
	path = src/tee
	url = git@gitlab.com:ung.org/bin/tee.git
[submodule "tail"]
	path = src/tail
	url = git@gitlab.com:ung.org/bin/tail.git
[submodule "renice"]
	path = src/renice
	url = git@gitlab.com:ung.org/bin/renice.git
[submodule "mkfifo"]
	path = src/mkfifo
	url = git@gitlab.com:ung.org/bin/mkfifo.git
[submodule "ln"]
	path = src/ln
	url = git@gitlab.com:ung.org/bin/ln.git
[submodule "mkdir"]
	path = src/mkdir
	url = git@gitlab.com:ung.org/bin/mkdir.git
[submodule "paste"]
	path = src/paste
	url = git@gitlab.com:ung.org/bin/paste.git
[submodule "ex"]
	path = src/ex
	url = git@gitlab.com:ung.org/bin/ex.git
[submodule "printf"]
	path = src/printf
	url = git@gitlab.com:ung.org/bin/printf.git
[submodule "who"]
	path = src/who
	url = git@gitlab.com:ung.org/bin/who.git
[submodule "pathchk"]
	path = src/pathchk
	url = git@gitlab.com:ung.org/bin/pathchk.git
[submodule "od"]
	path = src/od
	url = git@gitlab.com:ung.org/bin/od.git
[submodule "nohup"]
	path = src/nohup
	url = git@gitlab.com:ung.org/bin/nohup.git
[submodule "nice"]
	path = src/nice
	url = git@gitlab.com:ung.org/bin/nice.git
[submodule "ar"]
	path = src/ar
	url = git@gitlab.com:ung.org/bin/ar.git
[submodule "write"]
	path = src/write
	url = git@gitlab.com:ung.org/bin/write.git
[submodule "wc"]
	path = src/wc
	url = git@gitlab.com:ung.org/bin/wc.git
[submodule "uuencode"]
	path = src/uuencode
	url = git@gitlab.com:ung.org/bin/uuencode.git
[submodule "uudecode"]
	path = src/uudecode
	url = git@gitlab.com:ung.org/bin/uudecode.git
[submodule "unlink"]
	path = src/unlink
	url = git@gitlab.com:ung.org/bin/unlink.git
[submodule "uname"]
	path = src/uname
	url = git@gitlab.com:ung.org/bin/uname.git
[submodule "tput"]
	path = src/tput
	url = git@gitlab.com:ung.org/bin/tput.git
[submodule "stty"]
	path = src/stty
	url = git@gitlab.com:ung.org/bin/stty.git
[submodule "strings"]
	path = src/strings
	url = git@gitlab.com:ung.org/bin/strings.git
[submodule "split"]
	path = src/split
	url = git@gitlab.com:ung.org/bin/split.git
[submodule "sleep"]
	path = src/sleep
	url = git@gitlab.com:ung.org/bin/sleep.git
[submodule "sh"]
	path = src/sh
	url = git@gitlab.com:ung.org/bin/sh.git
[submodule "rmdir"]
	path = src/rmdir
	url = git@gitlab.com:ung.org/bin/rmdir.git
[submodule "rm"]
	path = src/rm
	url = git@gitlab.com:ung.org/bin/rm.git
[submodule "more"]
	path = src/more
	url = git@gitlab.com:ung.org/bin/more.git
[submodule "ls"]
	path = src/ls
	url = git@gitlab.com:ung.org/bin/ls.git
[submodule "logname"]
	path = src/logname
	url = git@gitlab.com:ung.org/bin/logname.git
[submodule "logger"]
	path = src/logger
	url = git@gitlab.com:ung.org/bin/logger.git
[submodule "locale"]
	path = src/locale
	url = git@gitlab.com:ung.org/bin/locale.git
[submodule "link"]
	path = src/link
	url = git@gitlab.com:ung.org/bin/link.git
[submodule "id"]
	path = src/id
	url = git@gitlab.com:ung.org/bin/id.git
[submodule "iconv"]
	path = src/iconv
	url = git@gitlab.com:ung.org/bin/iconv.git
[submodule "head"]
	path = src/head
	url = git@gitlab.com:ung.org/bin/head.git
[submodule "grep"]
	path = src/grep
	url = git@gitlab.com:ung.org/bin/grep.git
[submodule "getconf"]
	path = src/getconf
	url = git@gitlab.com:ung.org/bin/getconf.git
[submodule "file"]
	path = src/file
	url = git@gitlab.com:ung.org/bin/file.git
[submodule "expand"]
	path = src/expand
	url = git@gitlab.com:ung.org/bin/expand.git
[submodule "env"]
	path = src/env
	url = git@gitlab.com:ung.org/bin/env.git
[submodule "ed"]
	path = src/ed
	url = git@gitlab.com:ung.org/bin/ed.git
[submodule "du"]
	path = src/du
	url = git@gitlab.com:ung.org/bin/du.git
[submodule "dirname"]
	path = src/dirname
	url = git@gitlab.com:ung.org/bin/dirname.git
[submodule "dd"]
	path = src/dd
	url = git@gitlab.com:ung.org/bin/dd.git
[submodule "date"]
	path = src/date
	url = git@gitlab.com:ung.org/bin/date.git
[submodule "ctags"]
	path = src/ctags
	url = git@gitlab.com:ung.org/bin/ctags.git
[submodule "crontab"]
	path = src/crontab
	url = git@gitlab.com:ung.org/bin/crontab.git
[submodule "cp"]
	path = src/cp
	url = git@gitlab.com:ung.org/bin/cp.git
[submodule "cmp"]
	path = src/cmp
	url = git@gitlab.com:ung.org/bin/cmp.git
[submodule "cksum"]
	path = src/cksum
	url = git@gitlab.com:ung.org/bin/cksum.git
[submodule "chown"]
	path = src/chown
	url = git@gitlab.com:ung.org/bin/chown.git
[submodule "chmod"]
	path = src/chmod
	url = git@gitlab.com:ung.org/bin/chmod.git
[submodule "chgrp"]
	path = src/chgrp
	url = git@gitlab.com:ung.org/bin/chgrp.git
[submodule "cat"]
	path = src/cat
	url = git@gitlab.com:ung.org/bin/cat.git
[submodule "cal"]
	path = src/cal
	url = git@gitlab.com:ung.org/bin/cal.git
[submodule "bc"]
	path = src/bc
	url = git@gitlab.com:ung.org/bin/bc.git
[submodule "basename"]
	path = src/basename
	url = git@gitlab.com:ung.org/bin/basename.git
[submodule "asa"]
	path = src/asa
	url = git@gitlab.com:ung.org/bin/asa.git
